In [3]:
from read_csv import read_csv_to_dataframe

In [4]:
df = read_csv_to_dataframe('username.csv')
df

    Username   Identifier First name Last name
0   booker12         9012     Rachel    Booker
1     grey07         2070      Laura      Grey
2  johnson81         4081      Craig   Johnson
3  jenkins46         9346       Mary   Jenkins
4    smith79         5079      Jamie     Smith